p {
  width: 50px;
  height: 50px;
  background-color: lightgreen;
}

.blue-p {
  background-color: lightblue;
}

.big {
  width: 70px;
  height: 70px;
}



div {
  color: white;
  width: 300px;
  height: 300px;
}

div:nth-child(odd) {
  background-color: #00f;
}

div:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.7);
}

div.small-div {
  height: 200px;
  width: 200px;
}

div#big-div {
  height: 400px;
  width: 400px;
}

div.hover-div:hover {
  background-color: orange;
}