.container {
  background-color: lightgray;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.card {
  width: 80%;
  height: 100vh;
  background-color: blueviolet;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .card {
    background-color: aquamarine;
  }
}

@media (min-width: 992px) {
  .card {
    background-color: chartreuse;
  }
}

@media (min-width: 1200px) {
  .card {
    background-color: brown;
  }
}